* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
}
.redBackground{
    background: #DF4041;
}
.yellowBackground{
    background: #FACF32;
}
.blueBackground{
    background: #346BC8;
}
.greenBackgorund{
    background: #369448;
}

header {
    display: flex;
    flex-direction: column;
}

.logoImageHeader {
    width: 15em;
    margin-top: 0.5em;
    align-self: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    margin-top: 15em;
}
.yellowContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    margin-top: 5em;
}
.blueContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blueMainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
}
.greenMainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    color: white;
}
.loanConcluded{
    font-size: 3em;
}
.dateLoad{
    width: 665px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h6{
    font-size: 1.2em;
}

.textHelp {
    font-family: Montserrat, serif;
    font-size: 50%;
    color: #FACF32;
}

.nfcImage {
    width: 40%;
    margin-top: 5em;
}
.nfcImageBook{
    margin-top: 5em;
    fill: white;
}
.imageBookYellow{
    align-self: flex-start;
    width: 100%;
    height: 100%;
}
.imageBookGreen{
    width: 50%;
    margin-top: 2em;
}

.infosYellow{
    font-family: Montserrat, serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.titleContentYellow{
    font-weight: bolder;
    color: #FACF32;
}
.infoContentYellow{
    color: white;
}
.titleFooter {
    color: rgb(255, 255, 255);
    font-family: Montserrat, serif;
    font-size: small;
    bottom: 10px;
    position: fixed;
    width: 98%;
    text-align: right;
}

.titleCard {
    color: white;
    font-size: 200%;
    font-family: Montserrat;
}
.titleCardYellow{
    color: white;
    font-family: Montserrat;
    font-size: 150%;
    margin-top: 4em;
}

.backgroundChange {
    background-color: #DF4041;

    transition: background-color 1s ease-in;

}

.backgroundChange:hover {
    background-color: #346BC8;

}
.timer{
    margin-top: 5em;
}


.shake-bottom {
    -webkit-animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate backwards;
    animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate backwards;

}

@-webkit-keyframes shake-bottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-bottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}