*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat;
}
.redBackground{
    background: #DF4041;
}
.yellowBackground{
    background: #FACF32;
}
.blueBackground{
    background: #346BC8;
}
.greenBackgorund{
    background: #369448;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logoImageHeader{
    width: 10%;
}

/* --------------------- */

/* Main */
#redPage{
    margin-top: 15%;
}
.content_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    gap: 2%;
}
.firstCardReader{
    cursor: default;
    gap: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    color: #DF4041;
    font-weight: 900;
    font-size: 100%;
    width: 35%;
    border-radius: 10px;
}
.svg{
    width:5%;
    fill: #DF4041;
}
.rfid{
    padding: 1% 0%;
    width: 15%;
    padding-right: 2%;
}
#second_content_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.ouRedPage{
    color: #ffffff;
}
.titleFooter {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 80%;
    bottom: 2%;
    position: fixed;
    width: 98%;
    text-align: right;
}
.person{
    background: #DF4041;
    fill: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    outline: 3px solid #b92b2b;
}
.person:hover{
    fill: #DF4041;
    background: #D9D9D9;

}
.blink-2 {
    -webkit-animation: blink-2 1.5s infinite ;
    animation: blink-2 1.5s infinite ;
}



#yellowPage{
    margin-top: 2%;
}
.titleContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #369448;
    font-weight: bolder;
}


.tableContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    color: white;

}
.bookTable{
    width: 50%;
    height: 100%;
    border: 3px white solid;
    background-color: #369448;
}
.titleTable{
    font-size: 300%;
}
.dataRowTable{
    height: 50px;
    font-size: 110%;
}
.dataTable{
    border: 1px white solid;
}
.titleBookTable:hover{
    color: #b92b2b;
    text-decoration: line-through;
    cursor: pointer;
}
.checkBoxTable{
    transform: scale(200%);
    background:transparent;
    border:0;}
.svgBin{
    float: left;
    margin-left: -1.5em;
}
.buttomContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.buttonContinueYellowPage{
    border: 3px solid #369448;
    background-color: #FACF32;
    color: #369448;
    cursor: pointer;
    padding: 1% 2%;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 150%;
    font-weight: bold;
}
.buttonContinueYellowPage:hover{
    color: white;
    background-color: #369448;
}

@-webkit-keyframes blink-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.shake-bottom {
    -webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite ;
    animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite ;
}
@-webkit-keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
@keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

